<div class="response-area">
    <ul class="media-list">
        {% for comment in comments %}
            {% if not comment.parent_id %}
                <li class="media">

                    <a class="pull-right" href="#">
                        {% if request.user.avatar %}
                            <img class="media-object" src="{{ request.user.avatar.url }}" alt="">
                        {% else %}
                            <img class="media-object" style="border-radius: 10px;" src="/static/images/egiocMMHeJxW8ZDVer7lMv-xw7ReN-vH.jpeg" alt="">
                        {% endif %}
                    </a>
                    <div class="media-body">
                        <ul class="sinlge-post-meta">
                            <li><i class="fa fa-user"></i>{{ comment.user }}</li>
                            <li><i class="fa fa-calendar"></i>{{ comment.created|date }}</li>
                        </ul>
                        <p>{{ comment.text|linebreaks }}</p>
                        <button type="button" class="btn btn-primary" onclick="fillParentId({{ comment.id }})"><i
                                class="fa fa-reply"></i>پاسـخ
                        </button>
                    </div>
                </li>
                {% for second_comment in comment.postcomment_set.all %}
                    <li class="media second-media">
                        <a class="pull-right" href="#">
                            {% if request.user.avatar %}
                            <img class="media-object" src="{{ request.user.avatar.url }}" alt="">
                        {% else %}
                            <img class="media-object" style="border-radius: 10px;" src="/static/images/egiocMMHeJxW8ZDVer7lMv-xw7ReN-vH.jpeg" alt="">
                        {% endif %}
                        </a>
                        <div class="media-body">
                            <ul class="sinlge-post-meta">
                                <li><i class="fa fa-user"></i>{{ second_comment.user }}</li>
                                <li><i class="fa fa-calendar"></i>{{ second_comment.created|date }}</li>
                            </ul>
                            <p>{{ second_comment.text|linebreaks }}</p>
                            <button class="btn btn-primary" onclick="fillParentId({{ comment.id }})"><i
                                    class="fa fa-reply"></i>پاسـخ
                            </button>
                        </div>
                    </li>
                {% endfor %}


            {% endif %}
        {% endfor %}
    </ul>
</div><!--/Response-area-->