asgiref
attrs
CacheControl
cachy
captcha
certifi
cffi
charset-normalizer
cleo
clikit
crashtest
cryptography
Cython
defusedxml
distlib
dj-rest-auth
Django~=4.1.3
django-allauth
django-extensions
django-jalali
django-render-partial
django-rest-framework
djangorestframework~=3.14.0
djangorestframework-simplejwt
dulwich
filelock
html5lib
idna
importlib-metadata
jdatetime
jeepney
jsonschema
keyring
lockfile
Mako
Markdown
MarkupSafe
meson
msgpack
oauthlib
packaging
pastel
pexpect
Pillow
pipenv
pkginfo
platformdirs
poetry
poetry-core
poetry-plugin-export
ptyprocess
pycparser
Pygments
PyJWT
pylev
pyparsing
pyrsistent
python3-openid
pytz
requests
requests-oauthlib
requests-toolbelt
SecretStorage
shellingham
six
sorl-thumbnail
sqlparse
tomlkit
urllib3
virtualenv
virtualenv-clone
webencodings
zipp
