{% extends "base.html" %}

{% block title %}
    ورود به حساب کاربری
{% endblock %}

{% block body_content %}
    <div class="container">
        <section id="form"><!--form-->
            <div class="row" style="display: flex;justify-content: center;">
                <div class="col-sm-4">
                    <div class="login-form"><!--login form-->
                        <h2 class="text-center">ورود به حساب کاربـری</h2>
                        <form method="post">
                            {% csrf_token %}
                            <div class="text-danger">
                                <ul>
                                    {% for error in form.non_field_errors %}
                                        <span>&bull; {{ error }}</span>
                                    {% endfor %}
                                </ul>
                            </div>
                            <div>
                                {{ form.username.label_tag }}
                                {{ form.username }}
                                {{ form.username.errors }}
                            </div>
                            <div>
                                {{ form.password.label_tag }}
                                {{ form.password }}
                                {{ form.password.errors }}
                            </div>
                            <span>
								<a href="forget-password.html">رمـز عبـور خود را فراموش کرده ام</a>
							</span>
                            <button type="submit" class="btn btn-default">ورود</button>
                        </form>
                    </div><!--/login form-->
                </div>
            </div>
        </section>
    </div>
{% endblock %}