{% extends "base.html" %}
{% load poll_extras %}
{% block title %}
    صفحه اصلی
{% endblock %}

{% block body_content %}
    <section id="slider"><!--slider-->
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div id="slider-carousel" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            {% for slider in sliders %}
                                <li data-target="#slider-carousel" data-slide-to="{{ forloop.counter0 }}"
                                    {% if forloop.first %}class="active"{% endif %}></li>
                            {% endfor %}

                        </ol>

                        <div class="carousel-inner">

                            {% for slider in sliders %}
                                <div class="item {% if forloop.first %}active{% endif %}">
                                    <a href="{{ slider.url }}">
                                        <div class="col-sm-6">
                                            <h1>{{ slider.title }}</h1>
                                            <p>{{ slider.text|linebreaks }}</p>
                                        </div>
                                        <div class="col-sm-6">
                                            <img src="{{ slider.banner.url }}" class="girl img-responsive" width="450"
                                                 height="441" alt=""/>
                                        </div>
                                    </a>
                                </div>
                            {% endfor %}


                        </div>

                        <a href="#slider-carousel" class="right control-carousel hidden-xs" data-slide="prev">
                            <i class="fa fa-angle-right"></i>
                        </a>
                        <a href="#slider-carousel" class="left control-carousel hidden-xs" data-slide="next">
                            <i class="fa fa-angle-left"></i>
                        </a>
                    </div>

                </div>
            </div>
        </div>
    </section><!--/slider-->

    <section>
        <div class="container">
            <div class="row">

                <div class="recommended_items"><!--NewProduct_items-->
                    <h2 class="title text-center">پر بازدید ترین محصولات</h2>

                    <div id="recommended-item-carousel" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                            {% for list in most_viewed %}
                                <div class="item {% if forloop.first %}active{% endif %} ">
                                    {% for item in list %}
                                        <div class="col-sm-3">
                                            <div class="product-image-wrapper">
                                                <div class="single-products">
                                                    <div class="productinfo text-center">
                                                        <img src="{{ item.productpicture_set.all.first.picture.url }}"
                                                             alt=""/>
                                                        <h2>{{ item.price|currency }} ریال</h2>
                                                        <p>{{ item.title }}</p>
                                                        <a href="#" class="btn btn-default add-to-cart"><i
                                                                class="fa fa-shopping-cart"></i>افزودن به سبـد خرید</a>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}

                                </div>
                            {% endfor %}
                        </div>
                        <a class="left recommended-item-control" href="#recommended-item-carousel" data-slide="prev">
                            <i class="fa fa-angle-left"></i>
                        </a>
                        <a class="right recommended-item-control" href="#recommended-item-carousel" data-slide="next">
                            <i class="fa fa-angle-right"></i>
                        </a>
                    </div>
                </div><!--/NewProduct_items-->

                <div class="col-sm-12 padding-right">
                    <div class="features_items"><!--RetailSale_items-->
                        <a href="shop-2.html"><h2 class="title text-center">جدیدترین محصولات</h2></a>
                        <div id="new-item-carousel" class="carousel slide" data-ride="carousel">
                            <div class="carousel-inner">
                                {% for list in recent_products %}
                                    <div class="item {% if forloop.first %}active{% endif %}">
                                        {% for item in list %}
                                            <div class="col-sm-3">
                                                <div class="product-image-wrapper">
                                                    <div class="single-products">
                                                        <div class="productinfo text-center">
                                                            <img src="{{ item.productpicture_set.all.first.picture.url }}"
                                                                 alt=""/>
                                                            <h2>{{ item.price|currency }} ریال</h2>
                                                            <p>{{ item.title }}</p>
                                                            <a href="#" class="btn btn-default add-to-cart"><i
                                                                    class="fa fa-shopping-cart"></i>افزودن به سبـد خریـد</a>
                                                        </div>
                                                        <div class="product-overlay">
                                                            <div class="overlay-content">
                                                                <h2>2.500.000 R</h2>
                                                                <p>توضیحات کوتاه محصـول</p>
                                                                <a href="#" class="btn btn-default add-to-cart"><i
                                                                        class="fa fa-shopping-cart"></i>افزودن به سبـد
                                                                    خریـد</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="choose">
                                                        <ul class="nav nav-pills nav-justified">
                                                            <li>
                                                                <a href="#">
                                                                    <i class="fa fa-plus-square"></i>لیست علاقه مندی ها
                                                                </a>
                                                            </li>
                                                            <li><a href="#"><i class="fa fa-plus-square"></i>مقایسه</a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                {% endfor %}

                            </div>
                            <a class="left recommended-item-control" href="#new-item-carousel" data-slide="prev">
                                <i class="fa fa-angle-left"></i>
                            </a>
                            <a class="right recommended-item-control" href="#new-item-carousel" data-slide="next">
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </div>
                    </div><!--RetailSale_items-->


                </div>

            </div>
        </div>
    </section>
{% endblock %}