{% extends "base.html" %}
{% load poll_extras %}
{% block title %}
    {{ product.title }}
{% endblock %}

{% block body_content %}
    <section>
        <div class="container">
            <div class="row">

                <div class="col-sm-9 padding-right">
                    <div class="product-details"><!--product-details-->
                        <div class="col-sm-5">
                            <div class="view-product">
                                <img id="product-main-image" src="{{ product.productpicture_set.first.picture.url }}"
                                     width="330" height="380" alt=""/>
                                <h3>بزرگنمایـی</h3>
                            </div>
                            <div id="similar-product" class="carousel slide" data-ride="carousel">

                                <!-- Wrapper for slides -->
                                <div class="carousel-inner">
                                    {% for set in pictures_set %}
                                        <div class="item {% if forloop.first %}active{% endif %}">
                                            {% for picture in set %}
                                                <a onclick="productImageChanger('{{ picture.picture.url }}')"><img
                                                        src="{{ picture.picture.url }}"
                                                        width="85" height="85"
                                                        alt=""></a>
                                            {% endfor %}

                                        </div>
                                    {% endfor %}

                                </div>

                                <!-- Controls -->
                                <a class="right item-control" href="#similar-product" data-slide="next">
                                    <i class="fa fa-angle-right"></i>
                                </a>
                                <a class="left item-control" href="#similar-product" data-slide="prev">
                                    <i class="fa fa-angle-left"></i>
                                </a>
                            </div>

                        </div>
                        <div class="col-sm-7">
                            <div class="product-information"><!--/product-information-->
                                <img src="/static/images/product-details/new.png" class="newarrival" alt=""/>
                                <div>
                                    <h2>{{ product.title }}</h2>
                                </div>
                                <div>
									<span>
										<span>قیمت : {{ product.price|currency }} ريال</span>
									</span>
                                    <span>
										<label for="product-count">تعداد :</label>
										<input type="number" id="product-count" value="1" class="search_box"/>
										<button type="button" class="btn btn-fefault cart">
											<i class="fa fa-shopping-cart"></i>
											افـزودن به سبـد خریـد
										</button>
									</span>
                                    <p><a onclick="addToFavorites({{ product.id }})">افزودن به علاقه مندی ها</a></p>
                                </div>
                                <div>
                                    <p><b>موجـودی :</b>
                                        {% if product.count <= 5 %}
                                            <p class="text-danger">فقط {{ product.count }} در انبار مانده است!</p>
                                        {% else %}
                                            موجود است.
                                        {% endif %}
                                    <p><b>برنـد :</b> {{ product.brand }} </p>
                                </div>
                                <span class="socials-share share">
									<ul>
										<a href="#">
											<li>
												<label>بلـه</label>
												<img src="/static/images/product-details/Bale.png"/>
											</li>
										</a>
										<a href="#">
											<li>
												<label>سـروش</label>
												<img src="/static/images/product-details/Soroush.png"/>
											</li>
										</a>
										<a href="#">
											<li>
												<label>اینستاگرام</label>
												<img src="/static/images/product-details/Instagram.png"/>
											</li>
										</a>
										<li><img src="/static/images/product-details/rating.png" alt=""/></li>
									</ul>
								</span>

                            </div><!--/product-information-->
                        </div>
                    </div><!--/product-details-->

                    <div class="category-tab shop-details-tab"><!--category-tab-->
                        <div class="col-sm-12">
                            <ul class="nav nav-tabs">
                                <li><a href="#details" data-toggle="tab">جزئیات</a></li>
                                <li><a href="#companyprofile" data-toggle="tab">محصولات دیگر سازنده</a></li>
                                <li class="active"><a href="#reviews" data-toggle="tab">نظرات ({{ comments.count }})</a></li>
                            </ul>
                        </div>
                        <div class="tab-content">
                            <div class="tab-pane fade" id="details">
                                <p>{{ product.about|linebreaks }}</p>
                            </div>

                            <div class="tab-pane fade" id="companyprofile">
                                {% for product in related_products %}
                                    <div class="col-sm-3">
                                        <div class="product-image-wrapper">
                                            <div class="single-products" id="product-box">
                                                <div class="productinfo text-center">
                                                    <img src="{{ product.productpicture_set.all.first.picture.url }}"
                                                         alt=""/>
                                                    <h2>{{ product.price|currency }} ريال</h2>
                                                    <button type="button" class="btn btn-default add-to-cart"><i
                                                            class="fa fa-shopping-cart"></i>افزودن به سبـد خریـد
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}


                            </div>


                            <div class="tab-pane fade active in" id="reviews">
                                <div class="col-sm-12">
                                    <ul>
                                        <li><a href=""><i class="fa fa-user"></i>مشتـری 1</a></li>
                                        <li><a href=""><i class="fa fa-clock-o"></i>12:41 ب . ظ</a></li>
                                        <li><a href=""><i class="fa fa-calendar-o"></i>29 تیـر 1397</a></li>
                                    </ul>
                                    <form action="#" id="comment-form">
                                        <input type="hidden" id="parent-id" value="none">
                                        <textarea id="comment-text" placeholder="نظر خود را بنویسید..."></textarea>
                                        <b>رتبـه : </b> <img src="/static/images/product-details/rating.png" alt=""/>
                                        <button type="button"
                                                onclick="addProductComment({{ product.id }})"
                                                class="btn btn-default pull-left">
                                            ارسـال
                                        </button>
                                    </form>
                                    <hr>
                                    <div class="container-fluid" id="comment-area">
                                        {% include "products/includes/comment-component.html" with comments=comments %}
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div><!--/category-tab-->
                    {#                    <div class="recommended_items"><!--recommended_items-->#}
                    {#                        <h2 class="title text-center">محصولات پیشنهادی</h2>#}
                    {##}
                    {#                        <div id="recommended-item-carousel" class="carousel slide" data-ride="carousel">#}
                    {#                            <div class="carousel-inner">#}
                    {#                                {% for set in related_products %}#}
                    {#                                    <div class="item {% if forloop.first %}active{% endif %} ">#}
                    {#                                        {% for item in set %}#}
                    {#                                            <div class="col-sm-4">#}
                    {#                                                <div class="product-image-wrapper">#}
                    {#                                                    <div class="single-products">#}
                    {#                                                        <div class="productinfo text-center">#}
                    {#                                                            <img src="{{ item.productpicture_set.all.first.picture.url }}"#}
                    {#                                                                 width="268" height="250"#}
                    {#                                                                 alt="{{ item.english_title }}"/>#}
                    {#                                                            <h2>{{ item.title }}</h2>#}
                    {#                                                            <h2>{{ item.price |currency }} ريال</h2>#}
                    {#                                                            <button type="button" class="btn btn-default add-to-cart"><i#}
                    {#                                                                    class="fa fa-shopping-cart"></i>افزودن به سبـد خریـد#}
                    {#                                                            </button>#}
                    {#                                                        </div>#}
                    {#                                                    </div>#}
                    {#                                                </div>#}
                    {#                                            </div>#}
                    {#                                        {% endfor %}#}
                    {#                                    </div>#}
                    {#                                {% endfor %}#}
                    {#                            </div>#}
                    {#                            <a class="left recommended-item-control" href="#recommended-item-carousel"#}
                    {#                               data-slide="prev">#}
                    {#                                <i class="fa fa-angle-left"></i>#}
                    {#                            </a>#}
                    {#                            <a class="right recommended-item-control" href="#recommended-item-carousel"#}
                    {#                               data-slide="next">#}
                    {#                                <i class="fa fa-angle-right"></i>#}
                    {#                            </a>#}
                    {#                        </div>#}
                    {#                    </div><!--/recommended_items-->#}
                </div>
                <div class="col-sm-3">
                    {% include "products/includes/sidepanel.html" %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}