{% extends "base.html" %}
{% load poll_extras %}
{% block title %}
    فروشگاه
{% endblock %}

{% block body_content %}
    <section id="advertisement">
        <div class="container">
            <img src="/static/images/shop/advertisement.jpg" alt=""/>
        </div>
    </section>

    <section>
        <div class="container">
            <div class="row">

                <div class="col-sm-9 padding-right">
                    <div class="features_items"><!--features_items-->
                        <h2 class="title text-center">فروشگاه</h2>
                        {% for product in products %}
                            <div class="col-sm-4 product-component">
                                <a href="{% url "product_detail" product.slug %}">
                                    <div class="product-image-wrapper" style=" border: 1px solid #5e5e5e;">
                                        <div class="single-products">
                                            <div class="productinfo text-center">
                                                <img src="{{ product.productpicture_set.all.first.picture }}"
                                                     width="268" height="250" alt="{{ product.english_title }}"/>
                                                <h2>{{ product.title }}</h2>
                                                <h2>{{ product.price|currency }} ريال</h2>
                                                <p>{{ product.about|truncatewords:25 }}</p>
                                                <a href="#" class="btn btn-default add-to-cart"><i
                                                        class="fa fa-shopping-cart"></i>افزودن به سبـد خریـد</a>
                                                {% if product.count <= 5 %}
                                                    <p style="color: #ac2925">فقط {{ product.count }}عدد در انبار مانده
                                                        است!</p>
                                                {% endif %}
                                            </div>

                                            {#                                    <img src="/static/images/home/sale.png" class="new" alt=""/>#}
                                            {#                                    <img src="/static/images/home/new.png" class="new" alt=""/>#}
                                        </div>
                                        <div class="choose">
                                            <ul class="nav nav-pills nav-justified">
                                                <li><a href=""><i class="fa fa-plus-square"></i>لیست علاقه مندی ها</a>
                                                </li>
                                                <li>
                                                    {% for category in product.category.all %}
                                                        <a href="{% url "shop" %}{{ category }}">{{ category }}, </a>
                                                    {% endfor %}
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        {% endfor %}

                        <ul class="pagination">
                            {% if page_obj.has_previous %}
                                <li><a href="?page=1"><<</a></li>
                                <li><a href="?page={{ page_obj.previous_page_number }}"><</a></li>
                            {% endif %}
                            {% for i in paginator.page_range %}
                                <li class="
                                    {% if i == page_number %}
                                    active
                                    {% endif %}
                                "><a href="?page={{ i }}">{{ i }}</a></li>
                            {% endfor %}
                            {% if page_obj.has_next %}
                                <li><a href="?page={{ page_obj.next_page_number }}">></a></li>
                                <li><a href="?page={{ page_obj.paginator.num_pages }}">>></a></li>
                            {% endif %}
                        </ul>
                    </div><!--features_items-->
                </div>
                <div class="col-sm-3">
                    {% include "products/includes/sidepanel.html" %}
                </div>
            </div>
        </div>
    </section>

{% endblock %}